.header {
  background: linear-gradient(
    90deg,
    #343333 16.73%,
    #484848 58.63%,
    #282828 98.63%
  );
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.header__favorites {
  display: flex;
  font-family: 'Inter', sans-serif;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.header__favorites span {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.header__bookmark {
  width: 17px;
  height: 21px;
}

@media (max-width: 450px) {
  .header__container {
    padding: 30px 10px;
  }
}
